html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0 0 100px;
}
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
}
.is-centered {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-section,
.heading,
.subheading,
.subtitle,
.title {
  font-weight: 500;
  word-break: break-word;
}
.background__none {
  background: none !important;
}
.is-faded {
  padding-left: 50px;
  margin-top: -30px;
  padding-top: 50px;
  background: linear-gradient(to right, #f9f9f9, #fff 20px);
}
.menu-list li {
  border-bottom: 1px dashed #d7d7d7;
}
.bar {
  background: -webkit-gradient(linear, left top, right top, from(#e15151), to(#2e5bb3));
  background: linear-gradient(90deg, #e15151, #2e5bb3);
  height: 6px;
}
.footer {
  padding: 1rem 1rem 1rem !important;
  height: 60px;
  background: url("/img/header-bg.svg") #373e45;
}
footer > div > div > p,
footer > div > div > p > a,
footer > div > div > p > strong {
  color: rgba(255,255,255,0.8);
  font-size: 14px;
}
.hero__top {
  margin-top: 5px;
}
.title {
  font-size: 3rem;
}
.hero {
  background: url("/img/header-bg.svg") #373e45;
}
.hero h1 {
  color: #fff;
}
.card-meta,
.card-meta-yellow,
.card-meta-blue,
.card-meta-primary,
.thead-is-blue {
  background: #fff;
  color: #abb2b9;
  font-weight: 800;
  font-size: 14px;
  padding: 8px 20px;
}
.card {
  border-radius: 6px;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.16);
          box-shadow: 0 2px 3px 0 rgba(0,0,0,0.16);
  margin: 25px 0 5px;
}
.card:hover {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
          box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
}
.card-meta-yellow {
  background: #fde428;
  color: #000;
}
.card-meta-blue {
  color: #fff;
  background: #34495e;
}
.card-meta-primary {
  background: url("/img/header-bg.svg") #373e45;
  color: #fff;
}
.card-content {
  background: #f8f8fa;
  padding: 20px;
}
.card .card-content header {
  border-bottom: 1px solid #dcdcde;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.input,
.textarea {
  padding: 0 15px;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 42px;
}
.textarea {
  min-height: 100px;
}
.select {
  width: 100%;
}
.field:not(:last-child) {
  margin-bottom: 1.5em;
}
.is-popUp {
  background-color: #ffdd57;
  color: rgba(0,0,0,0.7);
  position: fixed;
  z-index: 10;
  bottom: 20px;
  right: 20px;
}
.tag:not(body) {
  color: #455097;
  font-size: 12px;
  background: #dde0f3 !important;
  border-radius: 4px;
  padding: 0 9px;
  line-height: 22px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.table {
  background: #f8f8fa;
  border-radius: 6px;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.16);
          box-shadow: 0 2px 3px 0 rgba(0,0,0,0.16);
}
.table:hover {
  -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
          box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
}
th abbr {
  color: #fff;
}
tr:hover {
  background: #d4d8dd !important;
}
.table {
  cursor: default;
}
.table i.fa.fa-eye {
  cursor: pointer;
}
tr:hover > th {
  background: #34495e;
}
.thead-is-blue {
  background: #34495e;
}
td i.fa {
  font-size: 1.3em;
}
td i.fa:hover {
  color: #0b0c0e !important;
}
.pagination li.active {
  color: #3273dc;
}
.pagination li {
  cursor: default;
}
.navbar-link.is-active,
.navbar-item.is-active {
  color: #209cee !important;
}
.navbar-link.is-active:after {
  border-color: #209cee !important;
}
.header-border {
  border-bottom: 1px solid #dbdbe0;
}
.header-clearance {
  padding-top: 26px;
}
.header-align {
  line-height: 50px;
}
