.footer
  padding 1rem 1rem 1rem!important
  height 60px
  background url(/img/header-bg.svg) #373e45


footer > div > div > p, footer > div > div > p > a, footer > div > div > p > strong
  color rgba(255,255,255,.8)
  font-size 14px
